* {
    font-family: "Raleway", sans-serif;
}

.navbar-brand {
    font-weight: 500;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.navbar-toggler {
    margin-right: 1rem;
}

.navbar-nav {
    margin-right: 1rem;
}