* {
    font-family: "Raleway", sans-serif;
}

.navbar-brand {
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-toggler {
    margin-right: 1rem;
}

.navbar-nav {
    margin: 1rem;
}

.nav-item {
    margin-left: 1rem;
}

.hero-img {
    /* position: fixed;
    top: 0; */
    width: 100%;
    height: auto;
}

.breadcrumb-link, .body-link {
    color: rgb(0, 0, 0);
}

.breadcrumb-link:hover, .body-link:hover {
    color: rgb(128, 128, 128);
    text-decoration: none;
}

.footer-link {
    color: rgb(255, 255, 255);
}

.footer-link:hover {
    color: rgb(255, 193, 7);
    text-decoration: none;
}

.footer-link-list {
    list-style-type: none;
    padding: 0;
}

/* Admissions Styles */

.form-check-inline {
    margin-left: 1em;
}

.body-contact {
    color:rgb(0, 0, 0);
}

.body-contact:hover {
    color:rgb(128, 128, 128);
}

/* Contace Us Styles */

.map {
    border: 0;
    width: 600px;
    height: auto;

}


